In [1]:
2 == 2

True

In [4]:
2 != 2.0

False

In [5]:
(2==2) and ("h" == "h")

True

# If, elif and else statement

In [6]:
if True:
    print("Its True")
else:
    print("Not True")

Its True

# if statement

In [7]:
my_items = [1, 2, 3]
for item in my_items:
    print(item)

1
2
3

# checking even or odd

In [13]:
for num in range (1, 15):
    if num % 2 == 0:
        print(f"{num} = even")
    else:
        print(f"{num} = odd")

1 = odd
2 = even
3 = odd
4 = even
5 = odd
6 = even
7 = odd
8 = even
9 = odd
10 = even
11 = odd
12 = even
13 = odd
14 = even

In [16]:
# finding sum on number in a range

total_sum = 0

for num in range (1, 15):
    total_sum += num
print(total_sum)

105

In [19]:
# using loop with a string

for word in "Hello World":
    print(word)

H
e
l
l
o

W
o
r
l
d

In [8]:
mylist = [(1, 2), (3, 4), (5, 6), (7,8)]

for a, b in mylist:
    print(a, b)

1 2
3 4
5 6
7 8

In [15]:
word = "aeiou"
for index, words in enumerate("aeiou"):
    print(words)

a
e
i
o
u

In [25]:
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]

new_list = zip(list1, list2)
for l in new_list:
    print(l)
    
# zip function combines multiple lists and returns output as tuples. They cannot be printed direct, can be used with loops only.

(1, 'a')
(2, 'b')
(3, 'c')

# List comprhension

In [32]:
mystr = "aeiou"
mylist = [item for item in mystr]
print(mylist)

['a', 'e', 'i', 'o', 'u']

In [38]:
mylist = [item**3 for item in range(0, 11)]
mylist

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [39]:
mylist = [x for x in range (0, 11) if x % 2 == 0]
mylist

[0, 2, 4, 6, 8, 10]