# Objects and Data structures assesment test

Answer in brief:

Numbers - There are 2 types of nums in python
1. Int - integer value 
eg. 1, -42, 43242

2. float - floating or decimal values 
eg. 4.5, 0.4

Strings - strings are basic data structures in python. strings are denoted by single quotes or double quotes. str can be sliced.
eg. "Nitesh", 'nitesh'

lists - lists are mutable data structures in python. They are denoted by []
lists can be changed, removed and many things can be done.
eg. name = ["nitesh, "raj"]

tuples - tuples are immutable data types in python. They are denoted by ()
they cannot be changed or replaced or added.
eg. name = ("nitesh", "raj")

dictionaries - dictionaries are imp data types in python. They are denoted by {}. They can store data in key value pair. Dictionaries cannot be sorted unlike list or tuples
eg. person = {"name": 'Nitesh', "age": 27}

# numbers exercise

In [12]:
answer = 10*10 + 10 - 9.75
answer

100.25

In [14]:
# to check the type of the below expression 

answer = 3 + 4 + 1.5
type(answer)

float

In [20]:
# to find the squre root 

sq_root = 4 ** 2
sq_root

16

In [21]:
# to find the square
sq = 2 * 2
sq

4

In [22]:
# strings
## given the hello string, give an index command that retuns 'e'

s = 'hello'
s[1]

'e'

In [23]:
#reversing the string using slicing
s = 'hello'
s[::-1]

'olleh'

In [24]:
# given the string hello, give two methods of producing the letter 'o' using indexing

# method 1
s = 'hello'
s[-1]

'o'

In [26]:
#method 2
s[4]

'o'

In [21]:
# lists

## build this list [0, 0, 0] in two ways

# method 1

zeros = []
zero = []
zeros.append(0)
zeros.append(0)
zeros.append(0)

# method 2
zero.insert(0, 0)
zero.insert(0, 0)
zero.insert(0, 0)
zeros
zero

[0, 0, 0]

In [43]:
# reassigning 'goodbye' in place of 'hello'

list3 = [1, 2, [3, 4, 'hello']]
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

In [45]:
# sorting the list

list4 = [5, 4, 3, 6, 1, 45, 4]
sorted(list4)

[1, 3, 4, 4, 5, 6, 45]

In [46]:
# Dictionaries 

## using keys and indexing, grab the 'hello' from the following dictionaries

d = {"simple_key": "hello"}
# grab 'hello'
d["simple_key"]

'hello'

In [47]:
d = {"k1": {'k2': "hello"}}
# grab 'hello'
d["k1"]["k2"]

'hello'

In [28]:
#getting a little tricker

d = {"k1": [{'nest_key': ['this is deep', ["hello"]]}]}

d["k1"][0]["nest_key"][1]

['hello']

In [42]:
# this will be hard and annoying!

d = {"k1": [1, 2, [{"k2": ['nest_key', {'this is deep': ["hello"]}]}]]}
d["k1"][2][0]["k2"][1]["this is deep"]

['hello']

In [13]:
name = "nitesh jha"

In [15]:
name.split('h')

['nites', ' j', 'a']

In [43]:
# sorting numbs in list, one should not use sort function in the same line with assing operations 
nums = [1, 32, 42, 53, 22, 42, 42, 53432, 2, 2, 45, 5]
nums.sort()
sorted_nums = nums
sorted_nums

[1, 2, 2, 5, 22, 32, 42, 42, 42, 45, 53, 53432]

In [3]:
#sorting a dictionary

my_dict = {'banana': 3, 'apple': 1, 'orange': 2}
sorted_dict = dict(sorted(my_dict.items()))

print(sorted_dict)

{'apple': 1, 'banana': 3, 'orange': 2}

# Tuples

Tuples are immutable unlike lists. They cannot be changed or replaced or new items can be added in them.
To create a tuple, we use a ecliple bracket ()

# Sets

Sets are unordered collection of unique elements. It takes only unique item in the list.

In [50]:
list5 = [1, 2, 3, 3, 2, 33, 4, 5, 11, 22, 3, 2]
new_set = set(list5)
new_set

{1, 2, 3, 4, 5, 11, 22, 33}

In [11]:
myset = set()
myset.add(1)
myset.add(2)
myset.add(3)
myset.add(1)
myset

{1, 2, 3}

#working with IO basic files

In [ ]:
%%writefile myfile.txt
Hello this is a